/* Wind */
.wd-n {
}



/*
 *
 * attempt to maintain
 */
.overlay {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 4px;
    width: 220px;
}

.map {
  height: 400px;
  width: 100%;
  border:1px solid;
  margin: 14px;
}

.datepicker {
    margin: 14px;

}

.slider {
    margin: 14px;
}

.weather {
    margin: 115px;
}

