/* Wind */
@import url("./compass.css");
/* Sun */
@import url("./sun.css");


.map {
  height: 40%;
  width: 80%;
  border:1px solid;
  margin: 14px;
}

.datepicker {
    margin: 14px;

}

.slider {
    margin: 14px;
}

.weather {
    margin: 115px;
}

