/* Wind */
@import url("compass.css");



.map {
  height: 700px;
  width: 100%;
  border:1px solid;
  margin: 14px;
}

.datepicker {
    margin: 14px;

}

.slider {
    margin: 14px;
}

.weather {
    margin: 115px;
}

