<template id="sun-template">
  <div id="weather-wrapper" >
    <div icon="sunny" data-label="Sunny">
      <span class="sun"></span>
    </div>
  </div>
</template>

<template id="stormy-template">
  <div id="weather-wrapper">
    <div icon="stormy" data-label="Damp">
      <span class="cloud"></span>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</template>

<template class="supermoon">
  <div id="weather-wrapper">
    <div icon="supermoon" data-label="dunno!">
      <span class="moon"></span>
      <span class="meteor"></span>
    </div>
  </div>
</template>

<template id="clear-template">
  <div id="weather-wrapper" >
    <div icon="cloudy" data-label="Some cloud">
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>
  </div>
</template>


<template id="cloudy-template">
  <div id="weather-wrapper" >
    <div icon="snowy" data-label="Chilly">
      <span class="snowman"></span>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</template>


<template id="wind-template">
  <div class="compass" id="compass">
    <div class="direction">
      <p class="wind-speed-val"><span class="speedk">knots</span></p>
    </div>
    <div id="arrow" class="arrow"></div>
  </div>
</template>


<template id="info-template">
  <div id="dt-info" class="dt-info">
    <div class="alert alert-success alert-message" role="alert">
      <span class="glyphicon glyphicon-info-sign"></span>
      <div id="dt-info-data"  class="dt-info"></div>
    </div>
  </div>
  </div>
</template>


<template id="tides-template">
  <div id="tides-info" class="dt-tides-info">
    <div class="alert alert-success alert-message" role="alert">
      <span class="glyphicon glyphicon-info-sign"></span>
      <div id="#tides-info-data"></div>
    </div>
  </div>
</template>


